body{
    font-family: 'Judson',sans-serif;
    color: #333;
    line-height: 1.6;
    
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    

}
a{
    color:#1349d2 ;
    text-decoration: none;
    font-weight: bold;
    
    
}
.contact-container{
    display: flex;
    justify-content: center;
}

.contact-icons{
    width :90%;
    padding:1em;
    
}
h1{
    text-align: center;
}
#profile{
    display: block;
    
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin:auto auto;

}
ul{
    display: flex;
    list-style-type: none;
    border-width: 20px;
    
}
li{
    float:left;
    padding: 8px;
}
.active{
    text-decoration: underline;
    text-decoration-color: #1349d2 ;
}