body{
    font-family: 'Judson',sans-serif;
    color: #333;
    line-height: 1.6;
    
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    

}
a{
    color:#517CE7 ;
    text-decoration: none;
    font-weight: bold;
    
    
}
.contact-container{
    display: flex;
    justify-content: center;
}

.contact-icons{
    width :90%;
    padding:1em;
    
}
h1{
    text-align: center;
}
#profile{
    display: block;
    margin: auto auto;
    border-radius: 50%;
    width: 175px;
    height: 175px;

}